<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grank.routercontroller">

    <application>
        <activity android:name=".DispatcherActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="aa"
                    android:scheme="sc"/>
            </intent-filter>
        </activity>
        <provider
            android:exported="false"
            android:authorities="${applicationId}.init.router.provider"
            android:name=".InitRouterProvider"/>
    </application>
</manifest>